{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Email sent</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="alert alert-success" role="alert" style="margin-top: 10%;margin-left: 1%;margin-right: 2%;">
        <h4 class="alert-heading" style="font-weight: bolder;">Email Sent!</h4>
        <p>An Email has been sent with the instructions to reset the password!You will recieve it shortly</p>
        <br>
        <p>Note:Check spam folder</p>
        <hr>
        <p class="mb-0">If you have not recieved your mail please check if you have entered registered mail</p>
      </div>

    
</body>
</html>